body{
    background-color: lightskyblue;
}
h1{
    color: rgb(77, 76, 76);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 200px;
}
.form{
    text-align: center;
    margin: 20px;
    color: rgb(77, 76, 76);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.error{
    color: red;
}
.form input{
    width: 30%;
    padding: 10px 12px ;

}
.button {
    border-radius: 9px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    margin: 22px 20px;
}

